<div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="../" class="navbar-brand">
            <img class="navbar-brand-logo" src="assets/image/scc-opac-logo.png" alt="Image Description">
        </a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" routerLinkActive="active" routerLink="home">Home</a>
              </li>
              <li>
                <a href="#" routerLinkActive="active" routerLink="search">Search</a>
              </li>
              <li>
                <a href="#" routerLinkActive="active" routerLink="announcements">Announcements</a>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">About <span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="download">
                  <li><a href="#" routerLinkActive="active" routerLink="services">Services</a></li>
                  <li class="divider"></li>
                  <li><a href="#" routerLinkActive="active" routerLink="mission-vission">Mission Vission</a></li>
                  <li class="divider"></li>
                  <li><a href="#" routerLinkActive="active" routerLink="rules-regulations">Rules & Regulations</a></li>
                </ul>
              </li>
              <li>
                <a href="#" routerLinkActive="active" routerLink="contact">Contact</a>
              </li>
              <li class="navdivider"></li>
              <li class="btn-signin">
                <a href="#" routerLinkActive="active" routerLink="sign-in" class="btn btn-default">
                    <i class="bi bi-person-circle"></i>
                    Sign in
                </a>
              </li>
        </ul>

      </div>
    </div>
  </div>
  <!-- end of navbar -->
  <div class="scc position-relative">
    <div class="container">
        <div class="scc-banner mx-auto mx-w9">
          <div class="row">
            <div class="text-center scc-img">
              <img src="assets/image/logo-scc.png" alt="Image" class="img-responsive scc-logo">
            <img src="assets/image/st-cecilias-college-cebu-name.png" alt="Image" class="img-responsive scc-name">
            </div>
          </div>
        </div>
    </div>
  </div>

