<div class="banner position-relative overflow-hidden">
    <div class="container content-space-2">
        <div class="row">
            <div class="col-md-6">
                <div class="banner-text-left">
                  <h1 class="mb-5"><span class="d-block">Online Public</span> Access <span class="typed-words"></span>
                      <!-- <span class="typed-cursor typed-cursor--blink">|</span> -->
                  </h1>
                  <p class="lead">
                    St. Cecilia's College Online Public Access Catalog (OPAC) is an electronic database that provides access to the school's library collection. It is a system that allows students, teachers, and other members of the school community to search for books, journals, magazines, and other materials available in the library.
                  </p>
                </div>
            </div>
            <div class="col-md-6 banner-half-end">
               <!-- Images -->
              <!-- <div class="d-none d-md-block bg-img-center w-75 pull-right" style="background-image: url(https://themewagon.github.io/tour/images/hero-slider-1.jpg);"></div> -->
              <div class="d-none d-md-block bg-img-center w-75 pull-right slides">
              <!-- <div class="slides"> -->
                <img src="assets/image/hero-slider-1.jpg" alt="Image" class="img-responsive active">
                <img src="assets/image/hero-slider-2.jpg" alt="Image" class="img-responsive">
                <img src="assets/image/hero-slider-3.jpg" alt="Image" class="img-responsive">
                <!-- <img src="https://themewagon.github.io/tour/images/hero-slider-4.jpg" alt="Image" class="img-responsive">
                <img src="https://themewagon.github.io/tour/images/hero-slider-5.jpg" alt="Image" class="img-responsive"> -->
              </div>
            </div>
        </div>
    </div>
    <!-- Background Shapes -->
    <div class="position-absolute top-0 end-0">
        <img src="assets/image/shape-3-soft-light.svg" alt="SVG" width="500">
      </div>
      <div class="position-absolute bottom-0 end-0 me-10">
        <img src="assets/image/shape-1-soft-light.svg" alt="SVG" width="250">
      </div>
      <div class="position-absolute bottom-0 start-0">
        <img src="assets/image/shape-2-soft-light.svg" alt="SVG" width="400">
      </div>
      <!-- End Background Shapes -->
  </div> 
  <!-- end of banner -->