.bg-img-center {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    box-shadow: 3px 3px 6px #372e30, -3px -3px 6px #A62C36;
    border-color: #adadad33;
}

/* .banner-half-end>* {
    position: relative;
    z-index: 1
} */

.banner-half-end::after {
    position: absolute;
    left: 15%;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: calc(100% - 7.5%);
    display: block;
    content: "";
    background: linear-gradient(to left,rgba(255,255,255,0) 50%,rgb(159 161 174 / 22%) -42%);
}

@media (max-width: 767.98px) {
    .banner-half-end {
        position:relative;
    }

    .banner-half-end::after {
        background: linear-gradient(to left,rgba(255,255,255,0) 0,rgba(0,189,142,.1) 0);
    }
}



.slides {
    /* background: #ffffff;
    max-width: 800px;
    left: -100px; */
    z-index: 1;
    position: relative;
    /* border-radius: 200px;
    -webkit-box-shadow: 0 25px 50px -10px rgba(26, 55, 77, 0.4);
    /* box-shadow: 0 25px 50px -10px rgba(26, 55, 77, 0.4); */
    height: 569px;
    /* margin-bottom: -200px;  */ 
  }
    /* @media (max-width: 991.98px) {
      .slides {
        left: 0; 
      } 
  } */
    .slides img {
      position: absolute;
      /* border-radius: 200px; */
      opacity: 0;
      -webkit-transition: 4s opacity ease;
      -o-transition: 4s opacity ease;
      transition: 4s opacity ease;
      /* background: #ffffff;  */
  }
      .slides img.active {
        opacity: 1;
        z-index: 1;
      }