.bg-img-center {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  box-shadow: 3px 3px 6px #372e30, -3px -3px 6px #6998ab;
  border-color: #adadad33;
}

.banner-half-end>* {
    position: relative;
    z-index: 1;
    border-radius: 63% 37% 30% 70% / 50% 45% 55% 50%;
}

/* .banner-half-end::after {
  position: absolute;
  top: 25px;
  left: 33%;
  right: 0;
  bottom: 0;
  width: calc(98% - -40%);
  height: calc(100% - 7.5%);
  display: block;
  content: "";
  background: linear-gradient(to left,rgba(255,255,255,0) 50%,#7c2731 -42%);
  border-radius: 63% 37% 30% 70% / 50% 45% 55% 50%;
} */

@media (max-width: 767.98px) {
    .banner-half-end {
        position:relative;
    }

    .banner-half-end::after {
        background: linear-gradient(to left,rgba(255,255,255,0) 0,rgba(0,189,142,.1) 0);
    }
}

.slides {
  z-index: 1;
  position: relative;
  height: 480px;
  /* margin-bottom: 7%; */
}
   
.slides img {
  position: absolute;
  opacity: 0;
  -webkit-transition: 4s opacity ease;
  -o-transition: 4s opacity ease;
  transition: 4s opacity ease;
  height: 480px;
  width: 100vw;
  border-radius: 63% 37% 30% 70% / 50% 45% 55% 50%;
}

.slides img.active {
  opacity: 1;
  z-index: 1;
}

.col-md-6.banner-left {
  display: flow-root;
}

.search-container input[type=search] {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.search-container button.btn.btn-default.btn-lg span.glyphicon {
  color: #6998ab;
  font-size: 14px;
}

.search-container button.btn.btn-default.btn-lg {
  border-radius: 23px;
  border-color: #adadad33;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
  background: #e6e7ee;
}

.search-container button.btn.btn-default.btn-lg:hover {
  border-color: #adadad !important;
}

.search-container {
  background-color: #e6e7ee;
  box-shadow: 3px 3px 6px #372e30, -3px -3px 6px #6998ab;
  border-color: #adadad33;
  padding: 12px;
  border-radius: 50px;
}
