<div class="banner position-relative overflow-hidden mb-9">
    <div class="container content-space-2">
        <div class="row">
            <div class="col-md-6 banner-left">
                <div class="banner-text-left">
                  <h1 class="mb-5"><span class="d-block">Online Public</span> Access <span class="typed-words"></span>
                      <!-- <span class="typed-cursor typed-cursor--blink">|</span> -->
                  </h1>
                  <p class="lead">
                    St. Cecilia's College Online Public Access Catalog (OPAC) is an electronic database that provides access to the school's library collection. 
                    It is a system that allows students, teachers, and other members of the school community to search for books, journals, magazines, and other materials available in the library.
                  </p>
                </div>
                
                  <div class="search-container">
                    <form>
                      <div class="input-group">
                        <input type="search" class="form-control input-lg" id="inputSearch" placeholder="Search Book Title">
                        <span class="input-group-btn">
                          <button type="submit" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                      </div>
                    </form>
                  </div>
            </div>
            <div class="col-md-6 banner-half-end">
               <!-- Images -->
              <div class="d-none d-md-block bg-img-center w-75 pull-right slides">
                <img src="assets/image/library-slider-3.png" alt="Image" class="img-responsive active">
                <img src="assets/image/library-slider-1.png" alt="Image" class="img-responsive">
                <img src="assets/image/library-slider-2.png" alt="Image" class="img-responsive">
              </div>
            </div>
        </div>
    </div>
    <!-- Background Shapes -->
    <div class="position-absolute top-0 end-0">
        <img src="assets/image/shape-3-soft-light.svg" alt="SVG" width="500">
      </div>
      <div class="position-absolute bottom-0 end-0 me-10">
        <img src="assets/image/shape-1-soft-light.svg" alt="SVG" width="250">
      </div>
      <div class="position-absolute bottom-0 start-0">
        <img src="assets/image/shape-2-soft-light.svg" alt="SVG" width="400">
      </div>
      <!-- End Background Shapes -->
  </div> 
  <!-- end of banner -->

  
  <div class="heading position-relative overflow-hidden mb-9">
    <div class="container">
      <div class="heading-intro mx-auto mx-w6">
        <div class="row">
          <div class="section-title text-center position-relative pb-3 mb-5">
            <h1 class="mb-0">Books and Silence</h1>
        </div>
        </div>
      </div>
  
      <div class="heading-content mx-auto mx-w9">
        <div class="row">
          <p class="text-center position-relative pb-3">
            These are the words that pops into our mind when we think of the word Library. 
            Yes it’s true that the library has a collection mostly comprised of books and it is also a place where silence is a must but here in St. Cecilia’s College Library System, there is definitely more to this.
            <!-- The St Cecilia’s College Library System caters to the research and instructional needs of its community by means of providing quality collections in both print and non-print format and through varied services.
            This site will serve as your one-stop guide to knowing the different sections, collections, services, rules and regulations and policies of St. Cecilia’s College Library System.
            Embedded within the pages of this site is your one-way ticket on how you can effectively use the library to your optimum advantage. So buckle up, have a blast and enjoy. -->
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="position-relative img-left mb-9">
    <div class="container">
      <div class="row ">
        <div class="d-md-block col-md-6 position-absolute top-0 start-0 bg-img-center h-100" style="background-image: url(assets/image/scc-building.png);"></div>
        <div class="col-md-6 col-md-offset-6">
          sdfdsfsdfs
        </div>
        

        
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
  </div>
